.card-list{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}

.errordiv{
    color: rgb(135, 134, 134);
    /* text-emphasis: bold; */
    /* text-decoration:; */
    /* font-weight: bold;*/
    font-size: 30px; 
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    width: inherit;
    height: 300px;
}