body{
    margin: 0;
    height: 100vh;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

section{
    align-items: center;
    display: flex;
    height: 100%;
}

h1{
    padding-left: 20px ;
    font-size: 35px;
    display:inline;

}

.clearsrch.SecondaryBtn{
    border: none;
    transition: text-decoration ease-in-out .1s;
}

.clearsrch.SecondaryBtn:hover{
    background: #00000000;
    border: 1px solid #737373cc;
}

.clearsrch.SecondaryBtn:active{
    background: #00000000;
    border: 1px solid #ffffffcc;
}



.navBar{
    position: sticky;
    top: 0;
    background-color: #121212cc;
    backdrop-filter: blur(5px);
    z-index: 1;
}